@page "/sarc-appeal/sarc-ap-admin/{caseId:int}"
@attribute [Authorize(Roles = "RSARCAppealView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Appeal Admin</PageTitle>

<h1>SARC Appeal Admin</h1>

<p>This page is under development.</p>
