@page "/agr/start-new-agr"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "AGRCertCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New AGR Certification</PageTitle>

<h1>Start New AGR Certification</h1>

<p>This page is under development.</p>
