@page "/other-cases/specialty-cases/incap/in-case-comments/{caseId:int}"
@attribute [Authorize(Roles = "INCAPView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>IN Case Comments</PageTitle>

<h1>IN Case Comments</h1>

<p>This page is under development.</p>
