@page "/rs/start-new-rs"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "RSCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Recruiting Services</PageTitle>

<h1>Start New Recruiting Services</h1>

<p>This page is under development.</p>
