@page "/administration/create/add-member"
@attribute [Authorize(Roles = "SysAdmin,MemberAdd")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Add Member</PageTitle>

<h1>Add Member</h1>

<p>This page is under development.</p>
