@page "/administration/create/create-user"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Create User</PageTitle>

<h1>Create User</h1>

<p>This page is under development.</p>
