@page "/rs/my-rss"
@attribute [Authorize(Roles = "MyRS")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Recruiting Servicess</PageTitle>

<h1>My Recruiting Servicess</h1>

<p>This page is under development.</p>
