@page "/other-cases/specialty-cases/irilo/init/{caseId:int}"
@attribute [Authorize(Roles = "IRILOView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>IRILO Initialization</PageTitle>

<h1>IRILO Initialization</h1>

<p>This page is under development.</p>
