@page "/other-cases/specialty-cases/irilo/ir-hq-afrc-tech/{caseId:int}"
@attribute [Authorize(Roles = "IRILOView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>IR HQ AFRC Tech</PageTitle>

<h1>IR HQ AFRC Tech</h1>

<p>This page is under development.</p>
