@page "/other-cases/specialty-cases/dw/dw-member/{caseId:int}"
@attribute [Authorize(Roles = "DWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>DW Member</PageTitle>

<h1>DW Member</h1>

<p>This page is under development.</p>
