@page "/reports/ad-hoc-reporting"
@attribute [Authorize(Roles = "AdHocReport,SARCAdHocReports")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Ad-Hoc Reporting</PageTitle>

<h1>Ad-Hoc Reporting</h1>

<p>This page is under development.</p>
