@page "/reports/ad-hoc-reporting-results"
@attribute [Authorize(Roles = "AdHocReport,SARCAdHocReports")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Ad-Hoc Reporting Results</PageTitle>

<h1>Ad-Hoc Reporting Results</h1>

<p>This page is under development.</p>
