@page "/reports/case-history-report"
@attribute [Authorize(Roles = "LodViewAllCases")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Case History Report</PageTitle>

<h1>Case History Report</h1>

<p>This page is under development.</p>
