@page "/reports/lod-graph-report"
@attribute [Authorize(Roles = "LODGraphReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Graph Report</PageTitle>

<h1>LOD Graph Report</h1>

<p>This page is under development.</p>
