@page "/reports/lod-metrics-report-lod-cases"
@attribute [Authorize(Roles = "LODMetricsReport_Cases")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Metrics Report (LOD Cases)</PageTitle>

<h1>LOD Metrics Report (LOD Cases)</h1>

<p>This page is under development.</p>
