@page "/reports/lod-metrics-report-average-times"
@attribute [Authorize(Roles = "LODMetricsReport_Avg")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Metrics Report (Average Times)</PageTitle>

<h1>LOD Metrics Report (Average Times)</h1>

<p>This page is under development.</p>
