@page "/reports/lod-packages-execution-report"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Packages Execution Report</PageTitle>

<h1>LOD Packages Execution Report</h1>

<p>This page is under development.</p>
