@page "/reports/lod-sarc-report"
@attribute [Authorize(Roles = "LODSARCCasesReportUnrestricted,LODSARCCasesReportAll")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD SARC Report</PageTitle>

<h1>LOD SARC Report</h1>

<p>This page is under development.</p>
