@page "/reports/lod-statistics-report"
@attribute [Authorize(Roles = "LODStatisticsReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Statistics Report</PageTitle>

<h1>LOD Statistics Report</h1>

<p>This page is under development.</p>
