@page "/reports/lod-total-count-by-process-report"
@attribute [Authorize(Roles = "LODTotalCountByProcessReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Total Count By Process Report</PageTitle>

<h1>LOD Total Count By Process Report</h1>

<p>This page is under development.</p>
