@page "/reports/pal-documents"
@attribute [Authorize(Roles = "PALDocumentsReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PAL Documents</PageTitle>

<h1>PAL Documents</h1>

<p>This page is under development.</p>
