@page "/reports/ph-totals-report"
@attribute [Authorize(Roles = "PHTotalsReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PH Totals Report</PageTitle>

<h1>PH Totals Report</h1>

<p>This page is under development.</p>
