@page "/reports/pwaivers-report"
@attribute [Authorize(Roles = "PwaiverReport")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PWaivers Report</PageTitle>

<h1>PWaivers Report</h1>

<p>This page is under development.</p>
