@page "/other-cases/pwaiver/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "PWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PWaiver Case Dialogue</PageTitle>

<h1>PWaiver Case Dialogue</h1>

<p>This page is under development.</p>
