@page "/other-cases/pwaiver/print/{caseId:int}"
@attribute [Authorize(Roles = "PWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PWaiver Print</PageTitle>

<h1>PWaiver Print</h1>

<p>This page is under development.</p>
