@page "/other-cases/pwaiver/pw-board-med/{caseId:int}"
@attribute [Authorize(Roles = "PWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PW Board Med</PageTitle>

<h1>PW Board Med</h1>

<p>This page is under development.</p>
