@page "/other-cases/specialty-cases/mo/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "MOView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MO Case Dialogue</PageTitle>

<h1>MO Case Dialogue</h1>

<p>This page is under development.</p>
