@page "/administration/lookup/approval-authorities"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Approval Authorities</PageTitle>

<h1>Approval Authorities</h1>

<p>This page is under development.</p>
