@page "/administration/lookup/arcnet-user-lookup"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>ARCNet User Lookup</PageTitle>

<h1>ARCNet User Lookup</h1>

<p>This page is under development.</p>
