@page "/administration/lookup/child-unit-view"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Child Unit View</PageTitle>

<h1>Child Unit View</h1>

<p>This page is under development.</p>
