@page "/administration/lookup/pending-role-requests"
@attribute [Authorize(Roles = "UsersEdit,SysAdmin,UsersApprove")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Pending Role Requests</PageTitle>

<h1>Pending Role Requests</h1>

<p>This page is under development.</p>
