@page "/administration/lookup/permission-report"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Permission Report</PageTitle>

<h1>Permission Report</h1>

<p>This page is under development.</p>
