@page "/administration/lookup/search-members"
@attribute [Authorize(Roles = "UsersEdit,UsersApprove,SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Search Members</PageTitle>

<h1>Search Members</h1>

<p>This page is under development.</p>
