@page "/administration/lookup/users-online"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Users Online</PageTitle>

<h1>Users Online</h1>

<p>This page is under development.</p>
