@page "/other-cases/specialty-cases/pepp-aimwits/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "PEPPView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PEPP Case Dialogue</PageTitle>

<h1>PEPP Case Dialogue</h1>

<p>This page is under development.</p>
