@page "/other-cases/specialty-cases/pepp-aimwits/init/{caseId:int}"
@attribute [Authorize(Roles = "PEPPView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PEPP/AIMWITS Initialization</PageTitle>

<h1>PEPP/AIMWITS Initialization</h1>

<p>This page is under development.</p>
