@page "/other-cases/specialty-cases/bmt-waivers-meps/bt-next-action/{caseId:int}"
@attribute [Authorize(Roles = "BMTView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>BT Next Action</PageTitle>

<h1>BT Next Action</h1>

<p>This page is under development.</p>
