@page "/other-cases/specialty-cases/bmt-waivers-meps/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "BMTView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>BMT Case Dialogue</PageTitle>

<h1>BMT Case Dialogue</h1>

<p>This page is under development.</p>
