@page "/incap/my-incaps"
@attribute [Authorize(Roles = "MyIncap")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My INCAPs</PageTitle>

<h1>My INCAPs</h1>

<p>This page is under development.</p>
