@page "/wwd/my-wwds"
@attribute [Authorize(Roles = "MyWWDs")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Worldwide Dutys</PageTitle>

<h1>My Worldwide Dutys</h1>

<p>This page is under development.</p>
