@page "/wwd/start-new-wwd"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "WWDCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Worldwide Duty</PageTitle>

<h1>Start New Worldwide Duty</h1>

<p>This page is under development.</p>
