@page "/meb/my-mebs"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyMeb")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My MEBs</PageTitle>

<h1>My MEBs</h1>

<p>This page is under development.</p>
