@page "/ci/my-cis"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyCi")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Congressionals</PageTitle>

<h1>My Congressionals</h1>

<p>This page is under development.</p>
