@page "/ci/start-new-ci"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "CiCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Congressional</PageTitle>

<h1>Start New Congressional</h1>

<p>This page is under development.</p>
