@page "/restricted-sarc/sarc-admin/{caseId:int}"
@attribute [Authorize(Roles = "RSARCView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Admin</PageTitle>

<h1>SARC Admin</h1>

<p>This page is under development.</p>
