@page "/restricted-sarc/sarc-member/{caseId:int}"
@attribute [Authorize(Roles = "RSARCView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Member</PageTitle>

<h1>SARC Member</h1>

<p>This page is under development.</p>
