@page "/restricted-sarc/sarc-senior-med/{caseId:int}"
@attribute [Authorize(Roles = "RSARCView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Senior Med</PageTitle>

<h1>SARC Senior Med</h1>

<p>This page is under development.</p>
