@page "/other-cases/specialty-cases/pscd/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "PSCDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PSCD Case Dialogue</PageTitle>

<h1>PSCD Case Dialogue</h1>

<p>This page is under development.</p>
