@page "/other-cases/specialty-cases/pscd/psc-board/{caseId:int}"
@attribute [Authorize(Roles = "PSCDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PSC Board</PageTitle>

<h1>PSC Board</h1>

<p>This page is under development.</p>
