@page "/other-cases/specialty-cases/pscd/psc-next-action/{caseId:int}"
@attribute [Authorize(Roles = "PSCDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PSC Next Action</PageTitle>

<h1>PSC Next Action</h1>

<p>This page is under development.</p>
