@page "/other-cases/specialty-cases/pscd/psc-rw-documents/{caseId:int}"
@attribute [Authorize(Roles = "PSCDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PSC RW Documents</PageTitle>

<h1>PSC RW Documents</h1>

<p>This page is under development.</p>
