@page "/reinvestigation-request/init/{caseId:int}"
@attribute [Authorize(Roles = "RRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Initialization</PageTitle>

<h1>RR Initialization</h1>

<p>This page is under development.</p>
