@page "/reinvestigation-request/rr-next-action/{caseId:int}"
@attribute [Authorize(Roles = "RRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Next Action</PageTitle>

<h1>RR Next Action</h1>

<p>This page is under development.</p>
