@page "/administration/system-admin/error/error-log"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Error Log</PageTitle>

<h1>Error Log</h1>

<p>This page is under development.</p>
