@page "/administration/system-admin/error/error-test"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Error Test</PageTitle>

<h1>Error Test</h1>

<p>This page is under development.</p>
