@page "/lod/ap-search"
@attribute [Authorize(Roles = "APSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AP Search</PageTitle>

<h1>AP Search</h1>

<p>This page is under development.</p>
