@page "/lod/generate-lod-forms"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Generate LOD Forms</PageTitle>

<h1>Generate LOD Forms</h1>

<p>This page is under development.</p>
