@page "/lod/generate-sarc-forms"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Generate SARC Forms</PageTitle>

<h1>Generate SARC Forms</h1>

<p>This page is under development.</p>
