@page "/lod/inbox-view"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Inbox View</PageTitle>

<h1>Inbox View</h1>

<p>This page is under development.</p>
