@page "/lod/lod-search"
@attribute [Authorize(Roles = "LodSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Search</PageTitle>

<h1>LOD Search</h1>

<p>This page is under development.</p>
