@page "/lod/my-lod-consults"
@attribute [Authorize(Roles = "MyLod")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My LOD Consults</PageTitle>

<h1>My LOD Consults</h1>

<p>This page is under development.</p>
