@page "/lod/process-completed-restricted-sarc-appeals"
@attribute [Authorize(Roles = "RSARCAppealPostCompletion")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Process Completed Restricted SARC Appeals</PageTitle>

<h1>Process Completed Restricted SARC Appeals</h1>

<p>This page is under development.</p>
