@page "/lod/process-completed-cases"
@attribute [Authorize(Roles = "ExePostCompletion")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Process Completed Cases</PageTitle>

<h1>Process Completed Cases</h1>

<p>This page is under development.</p>
