@page "/lod/reinvestigations"
@attribute [Authorize(Roles = "Reinvestigate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Reinvestigations</PageTitle>

<h1>Reinvestigations</h1>

<p>This page is under development.</p>
