@page "/lod/rr-search"
@attribute [Authorize(Roles = "ReinvestigateSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Search</PageTitle>

<h1>RR Search</h1>

<p>This page is under development.</p>
