@page "/lod/sarc-appeal-search"
@attribute [Authorize(Roles = "RSARCAppealSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Appeal Search</PageTitle>

<h1>SARC Appeal Search</h1>

<p>This page is under development.</p>
