@page "/lod/sarc-search"
@attribute [Authorize(Roles = "RSARCSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Search</PageTitle>

<h1>SARC Search</h1>

<p>This page is under development.</p>
