@page "/lod/sc-awaiting-consults"
@attribute [Authorize(Roles = "MyLod")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SC Awaiting Consults</PageTitle>

<h1>SC Awaiting Consults</h1>

<p>This page is under development.</p>
