@page "/lod/sc-pending-consults"
@attribute [Authorize(Roles = "MyLod")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SC Pending Consults</PageTitle>

<h1>SC Pending Consults</h1>

<p>This page is under development.</p>
