@page "/common/afi-report-export-instructions"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AFI Report Export Instructions</PageTitle>

<h1>AFI Report Export Instructions</h1>

<p>This page is under development.</p>
