@page "/common/session-viewer"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Session Viewer</PageTitle>

<h1>Session Viewer</h1>

<p>This page is under development.</p>
