@page "/lod/start-new-lod"
@attribute [Authorize(Roles = "LodCreate,RSARCCreate,SARCUnrestrictedCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New LOD</PageTitle>

<h1>Start New LOD</h1>

<p>This page is under development.</p>
