@page "/pscd/my-pscds"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyPSCDs")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Prior Service Condition Determinations</PageTitle>

<h1>My Prior Service Condition Determinations</h1>

<p>This page is under development.</p>
