@page "/pscd/start-new-pscd"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "PSCDCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Prior Service Condition Determination</PageTitle>

<h1>Start New Prior Service Condition Determination</h1>

<p>This page is under development.</p>
