@page "/pepp/my-pepps"
@attribute [Authorize(Roles = "MyPEPP")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My PEPP/AIMWITSs</PageTitle>

<h1>My PEPP/AIMWITSs</h1>

<p>This page is under development.</p>
