@page "/mo/my-mos"
@attribute [Authorize(Roles = "MyMO")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Modifications</PageTitle>

<h1>My Modifications</h1>

<p>This page is under development.</p>
