@page "/mo/start-new-mo"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MOCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Modification</PageTitle>

<h1>Start New Modification</h1>

<p>This page is under development.</p>
