@page "/rw/my-rws"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyRW")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Retention Waivers</PageTitle>

<h1>My Retention Waivers</h1>

<p>This page is under development.</p>
