@page "/mh/my-mhs"
@attribute [Authorize(Roles = "MyMH")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Medical Holds</PageTitle>

<h1>My Medical Holds</h1>

<p>This page is under development.</p>
