@page "/mh/start-new-mh"
@attribute [Authorize(Roles = "MHCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Medical Hold</PageTitle>

<h1>Start New Medical Hold</h1>

<p>This page is under development.</p>
