@page "/cmas/start-new-cmas"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "CmasCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New CMAS</PageTitle>

<h1>Start New CMAS</h1>

<p>This page is under development.</p>
