@page "/common/application-error"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Application Error</PageTitle>

<h1>Application Error</h1>

<p>This page is under development.</p>
