@page "/common/digital-signature-failed"
@attribute [Authorize(Roles = "Signature")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Digital Signature Failed</PageTitle>

<h1>Digital Signature Failed</h1>

<p>This page is under development.</p>
