@page "/common/digital-signature-posted"
@attribute [Authorize(Roles = "Signature")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Digital Signature Posted</PageTitle>

<h1>Digital Signature Posted</h1>

<p>This page is under development.</p>
