@page "/common/digital-signature"
@attribute [Authorize(Roles = "Signature")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Digital Signature</PageTitle>

<h1>Digital Signature</h1>

<p>This page is under development.</p>
