@page "/common/document-viewer"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Document Viewer</PageTitle>

<h1>Document Viewer</h1>

<p>This page is under development.</p>
