@page "/common/document-upload"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Document Upload</PageTitle>

<h1>Document Upload</h1>

<p>This page is under development.</p>
