@page "/common/print-tracking"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Print Tracking</PageTitle>

<h1>Print Tracking</h1>

<p>This page is under development.</p>
