@page "/common/print-case-tracking"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Print Case Tracking</PageTitle>

<h1>Print Case Tracking</h1>

<p>This page is under development.</p>
