@page "/administration/system-admin/rules"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Rules</PageTitle>

<h1>Rules</h1>

<p>This page is under development.</p>
