@page "/administration/system-admin/status-codes"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Status Codes</PageTitle>

<h1>Status Codes</h1>

<p>This page is under development.</p>
