@page "/administration/system-admin/test-automatic-processes"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Test Automatic Processes</PageTitle>

<h1>Test Automatic Processes</h1>

<p>This page is under development.</p>
