@page "/administration/system-admin/test-component"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Test Component</PageTitle>

<h1>Test Component</h1>

<p>This page is under development.</p>
