@page "/administration/manage/edit-lod-medical"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit LOD Medical</PageTitle>

<h1>Edit LOD Medical</h1>

<p>This page is under development.</p>
