@page "/administration/manage/edit-certification-stamps"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Certification Stamps</PageTitle>

<h1>Edit Certification Stamps</h1>

<p>This page is under development.</p>
