@page "/administration/manage/edit-dispositions"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Dispositions</PageTitle>

<h1>Edit Dispositions</h1>

<p>This page is under development.</p>
