@page "/administration/manage/edit-case-types"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Case Types</PageTitle>

<h1>Edit Case Types</h1>

<p>This page is under development.</p>
