@page "/administration/manage/edit-miscellaneous-lookups"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Miscellaneous Lookups</PageTitle>

<h1>Edit Miscellaneous Lookups</h1>

<p>This page is under development.</p>
