@page "/administration/manage/edit-lod-unit"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit LOD Unit</PageTitle>

<h1>Edit LOD Unit</h1>

<p>This page is under development.</p>
