@page "/administration/manage/manage-messages"
@attribute [Authorize(Roles = "MsgAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Messages</PageTitle>

<h1>Manage Messages</h1>

<p>This page is under development.</p>
