@page "/administration/manage/manage-cancel-reasons"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Cancel Reasons</PageTitle>

<h1>Manage Cancel Reasons</h1>

<p>This page is under development.</p>
