@page "/administration/manage/manage-lookups"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Lookups</PageTitle>

<h1>Manage Lookups</h1>

<p>This page is under development.</p>
