@page "/administration/manage/manage-units"
@attribute [Authorize(Roles = "UnitsEdit")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Units</PageTitle>

<h1>Manage Units</h1>

<p>This page is under development.</p>
