@page "/administration/manage/manage-hyper-links"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Hyper Links</PageTitle>

<h1>Manage Hyper Links</h1>

<p>This page is under development.</p>
