@page "/administration/manage/mapped-values"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Mapped Values</PageTitle>

<h1>Mapped Values</h1>

<p>This page is under development.</p>
