@page "/appeal/ap-next-action/{caseId:int}"
@attribute [Authorize(Roles = "APView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Appeal Next Action</PageTitle>

<h1>Appeal Next Action</h1>

<p>This page is under development.</p>
