@page "/other-cases/specialty-cases/cmas/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "CMASView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>CMAS Case Dialogue</PageTitle>

<h1>CMAS Case Dialogue</h1>

<p>This page is under development.</p>
