@page "/other-cases/specialty-cases/cmas/cm-member/{caseId:int}"
@attribute [Authorize(Roles = "CMASView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>CM Member</PageTitle>

<h1>CM Member</h1>

<p>This page is under development.</p>
