@page "/administration/manage/memo/memo-mapped-values"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Memo Mapped Values</PageTitle>

<h1>Memo Mapped Values</h1>

<p>This page is under development.</p>
