@page "/administration/manage/memo/memo-templates"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Memo Templates</PageTitle>

<h1>Memo Templates</h1>

<p>This page is under development.</p>
