@page "/unit-administration"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Unit Administration</PageTitle>

<h1>Unit Administration</h1>

<p>This page is under development.</p>
