@page "/incap/start-new-incap"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "IncapCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New INCAP</PageTitle>

<h1>Start New INCAP</h1>

<p>This page is under development.</p>
