@page "/mmso/my-requests"
@attribute [Authorize(Roles = "MMSOView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Requests</PageTitle>

<h1>My Requests</h1>

<p>This page is under development.</p>
