@page "/mmso/start-new-pre-authorization-request"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MMSOCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Pre-Authorization Request</PageTitle>

<h1>Start New Pre-Authorization Request</h1>

<p>This page is under development.</p>
