@page "/line-of-duty/lod-board/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Board</PageTitle>

<h1>LOD Board</h1>

<p>This page is under development.</p>
