@page "/line-of-duty/member/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Member</PageTitle>

<h1>LOD Member</h1>

<p>This page is under development.</p>
