@page "/line-of-duty/print/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Print</PageTitle>

<h1>LOD Print</h1>

<p>This page is under development.</p>
