@page "/reinvestigation-request/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "RRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Case Dialogue</PageTitle>

<h1>RR Case Dialogue</h1>

<p>This page is under development.</p>
