@page "/reinvestigation-request/print/{caseId:int}"
@attribute [Authorize(Roles = "RRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Print</PageTitle>

<h1>RR Print</h1>

<p>This page is under development.</p>
