@page "/reinvestigation-request/rr-member/{caseId:int}"
@attribute [Authorize(Roles = "RRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RR Member</PageTitle>

<h1>RR Member</h1>

<p>This page is under development.</p>
