@page "/ph/generate-ph-form"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Generate PH Form</PageTitle>

<h1>Generate PH Form</h1>

<p>This page is under development.</p>
