@page "/other-cases/specialty-cases/ne/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Case Dialogue</PageTitle>

<h1>NE Case Dialogue</h1>

<p>This page is under development.</p>
