@page "/other-cases/specialty-cases/ne/init/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Initialization</PageTitle>

<h1>NE Initialization</h1>

<p>This page is under development.</p>
