@page "/other-cases/specialty-cases/ne/ne-board-med/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Board Med</PageTitle>

<h1>NE Board Med</h1>

<p>This page is under development.</p>
