@page "/other-cases/specialty-cases/ne/ne-case-comments/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Case Comments</PageTitle>

<h1>NE Case Comments</h1>

<p>This page is under development.</p>
