@page "/other-cases/specialty-cases/ne/ne-documents/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Documents</PageTitle>

<h1>NE Documents</h1>

<p>This page is under development.</p>
