@page "/other-cases/specialty-cases/ne/ne-member/{caseId:int}"
@attribute [Authorize(Roles = "NEView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>NE Member</PageTitle>

<h1>NE Member</h1>

<p>This page is under development.</p>
