@page "/other-cases/specialty-cases/rs/rs-case-comments/{caseId:int}"
@attribute [Authorize(Roles = "RSView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RS Case Comments</PageTitle>

<h1>RS Case Comments</h1>

<p>This page is under development.</p>
