@page "/other-cases/specialty-cases/rs/rs-documents/{caseId:int}"
@attribute [Authorize(Roles = "RSView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RS Documents</PageTitle>

<h1>RS Documents</h1>

<p>This page is under development.</p>
