@page "/sarc-appeal/init/{caseId:int}"
@attribute [Authorize(Roles = "RSARCAppealView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Appeal Initialization</PageTitle>

<h1>SARC Appeal Initialization</h1>

<p>This page is under development.</p>
