@page "/sarc-appeal/sarc-appeal-tracking/{caseId:int}"
@attribute [Authorize(Roles = "RSARCAppealView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Appeal Tracking</PageTitle>

<h1>SARC Appeal Tracking</h1>

<p>This page is under development.</p>
