@page "/other-cases/specialty-cases/ph/ph-history/{caseId:int}"
@attribute [Authorize(Roles = "PHView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>PH History</PageTitle>

<h1>PH History</h1>

<p>This page is under development.</p>
