@page "/help/documentation/afi-36-2910-afrcsup1-i"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AFI 36-2910 AFRCSUP1 I</PageTitle>

<h1>AFI 36-2910 AFRCSUP1 I</h1>

<p>This page is under development.</p>
