@page "/help/documentation/afrci-36-3004"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AFRCI 36-3004</PageTitle>

<h1>AFRCI 36-3004</h1>

<p>This page is under development.</p>
