@page "/help/documentation/afrc-sgp-cpm-1-jun-15"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AFRC SGP CPM (1 Jun 15)</PageTitle>

<h1>AFRC SGP CPM (1 Jun 15)</h1>

<p>This page is under development.</p>
