@page "/help/documentation/alod-manual"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>ALOD Manual</PageTitle>

<h1>ALOD Manual</h1>

<p>This page is under development.</p>
