@page "/help/documentation/dodi-1241-2"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>DODI 1241.2</PageTitle>

<h1>DODI 1241.2</h1>

<p>This page is under development.</p>
