@page "/help/documentation/8-year-rule"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>8 Year Rule</PageTitle>

<h1>8 Year Rule</h1>

<p>This page is under development.</p>
