@page "/help/documentation/financial-entitlements-briefing"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Financial Entitlements Briefing</PageTitle>

<h1>Financial Entitlements Briefing</h1>

<p>This page is under development.</p>
