@page "/help/documentation/investigation-officer"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Investigation Officer</PageTitle>

<h1>Investigation Officer</h1>

<p>This page is under development.</p>
