@page "/help/documentation/lod-dispapproved-report"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Disapproved Report</PageTitle>

<h1>LOD Disapproved Report</h1>

<p>This page is under development.</p>
