@page "/help/documentation/lod-metrics-report"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Metrics Report</PageTitle>

<h1>LOD Metrics Report</h1>

<p>This page is under development.</p>
