@page "/help/documentation/lod-physician-cancelled-report"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Physician Cancelled Report</PageTitle>

<h1>LOD Physician Cancelled Report</h1>

<p>This page is under development.</p>
