@page "/help/documentation/lod-statistics-report"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Statistics Report</PageTitle>

<h1>LOD Statistics Report</h1>

<p>This page is under development.</p>
