@page "/help/documentation/lod-total-count-report"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Total Count Report</PageTitle>

<h1>LOD Total Count Report</h1>

<p>This page is under development.</p>
