@page "/help/documentation/medical-technician"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Medical Technician</PageTitle>

<h1>Medical Technician</h1>

<p>This page is under development.</p>
