@page "/help/documentation/medical-briefing"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Medical Briefing</PageTitle>

<h1>Medical Briefing</h1>

<p>This page is under development.</p>
