@page "/help/documentation/personnel-briefing"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Personnel Briefing</PageTitle>

<h1>Personnel Briefing</h1>

<p>This page is under development.</p>
