@page "/help/documentation/sarc-modifications"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>SARC Modifications</PageTitle>

<h1>SARC Modifications</h1>

<p>This page is under development.</p>
