@page "/help/documentation/unit-commander"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Unit Commander</PageTitle>

<h1>Unit Commander</h1>

<p>This page is under development.</p>
