@page "/help/documentation/user-account"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>User Account</PageTitle>

<h1>User Account</h1>

<p>This page is under development.</p>
