@page "/help/documentation/wing-commander"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Wing Commander</PageTitle>

<h1>Wing Commander</h1>

<p>This page is under development.</p>
