@page "/line-of-duty/comments/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Comments</PageTitle>

<h1>LOD Comments</h1>

<p>This page is under development.</p>
