@page "/line-of-duty/init/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Initialization</PageTitle>

<h1>LOD Initialization</h1>

<p>This page is under development.</p>
