@page "/line-of-duty/medical/{caseId:int}"
@attribute [Authorize(Roles = "LodView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>LOD Medical</PageTitle>

<h1>LOD Medical</h1>

<p>This page is under development.</p>
