@page "/bmt/my-bmts"
@attribute [Authorize(Roles = "MyBmt")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My BMT/MEPSs</PageTitle>

<h1>My BMT/MEPSs</h1>

<p>This page is under development.</p>
