@page "/bmt/start-new-bmt"
@attribute [Authorize(Roles = "BmtCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New BMT/MEPS</PageTitle>

<h1>Start New BMT/MEPS</h1>

<p>This page is under development.</p>
