@page "/irilo/my-irilos"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyFTs")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My IRILOs</PageTitle>

<h1>My IRILOs</h1>

<p>This page is under development.</p>
