@page "/administration/manage/workflows/workflow-view"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Workflow View</PageTitle>

<h1>Workflow View</h1>

<p>This page is under development.</p>
