@page "/administration/edit-user-account"
@attribute [Authorize(Roles = "UsersEdit,SysAdmin,UsersApprove")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit User Account</PageTitle>

<h1>Edit User Account</h1>

<p>This page is under development.</p>
