@page "/administration/edit-member"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Member</PageTitle>

<h1>Edit Member</h1>

<p>This page is under development.</p>
