@page "/administration/edit-template"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Template</PageTitle>

<h1>Edit Template</h1>

<p>This page is under development.</p>
