@page "/administration/option-rules"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Option Rules</PageTitle>

<h1>Option Rules</h1>

<p>This page is under development.</p>
