@page "/administration/option-actions"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Option Actions</PageTitle>

<h1>Option Actions</h1>

<p>This page is under development.</p>
