@page "/administration/user-permissions"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>User Permissions</PageTitle>

<h1>User Permissions</h1>

<p>This page is under development.</p>
