@page "/administration/user-activity-log"
@attribute [Authorize(Roles = "SysAdmin,ViewUserLog")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>User Activity Log</PageTitle>

<h1>User Activity Log</h1>

<p>This page is under development.</p>
