@page "/administration/workflow-steps"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Workflow Steps</PageTitle>

<h1>Workflow Steps</h1>

<p>This page is under development.</p>
