@page "/administration/workflow-permissions"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Workflow Permissions</PageTitle>

<h1>Workflow Permissions</h1>

<p>This page is under development.</p>
