@page "/administration/manage/groups/edit-groups"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit Groups</PageTitle>

<h1>Edit Groups</h1>

<p>This page is under development.</p>
