@page "/administration/manage/groups/group-permissions"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Group Permissions</PageTitle>

<h1>Group Permissions</h1>

<p>This page is under development.</p>
