@page "/administration/manage/groups/group-approval"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Group Approval</PageTitle>

<h1>Group Approval</h1>

<p>This page is under development.</p>
