@page "/administration/manage/pages/manage-pages"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Manage Pages</PageTitle>

<h1>Manage Pages</h1>

<p>This page is under development.</p>
