@page "/administration/manage/pages/page-access"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Page Access</PageTitle>

<h1>Page Access</h1>

<p>This page is under development.</p>
