@page "/administration/manage/pages/welcome-page-banner"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Welcome Page Banner</PageTitle>

<h1>Welcome Page Banner</h1>

<p>This page is under development.</p>
