@page "/other-cases/specialty-cases/congressionals/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "CIView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Congressional Case Dialogue</PageTitle>

<h1>Congressional Case Dialogue</h1>

<p>This page is under development.</p>
