@page "/other-cases/specialty-cases/congressionals/ci-case-comments/{caseId:int}"
@attribute [Authorize(Roles = "CIView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>CI Case Comments</PageTitle>

<h1>CI Case Comments</h1>

<p>This page is under development.</p>
