@page "/other-cases/specialty-cases/congressionals/ci-member/{caseId:int}"
@attribute [Authorize(Roles = "CIView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>CI Member</PageTitle>

<h1>CI Member</h1>

<p>This page is under development.</p>
