@page "/special-cases/my-special-cases"
@attribute [Authorize(Roles = "MySCs,MMSOSearch")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Special Cases</PageTitle>

<h1>My Special Cases</h1>

<p>This page is under development.</p>
