@page "/special-cases/other-cases"
@attribute [Authorize(Roles = "ScSearch,ScSearchMT,ScCreate,MySCs,SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Other Cases</PageTitle>

<h1>Other Cases</h1>

<p>This page is under development.</p>
