@page "/other-cases/specialty-cases/rw/rw-member/{caseId:int}"
@attribute [Authorize(Roles = "RWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RW Member</PageTitle>

<h1>RW Member</h1>

<p>This page is under development.</p>
