@page "/other-cases/specialty-cases/rw/rw-next-action/{caseId:int}"
@attribute [Authorize(Roles = "RWView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>RW Next Action</PageTitle>

<h1>RW Next Action</h1>

<p>This page is under development.</p>
