@page "/other-cases/specialty-cases/bcmr/bc-next-action/{caseId:int}"
@attribute [Authorize(Roles = "BCMRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>BC Next Action</PageTitle>

<h1>BC Next Action</h1>

<p>This page is under development.</p>
