@page "/other-cases/specialty-cases/bcmr/bc-tracking/{caseId:int}"
@attribute [Authorize(Roles = "BCMRView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>BC Tracking</PageTitle>

<h1>BC Tracking</h1>

<p>This page is under development.</p>
