@page "/pwaiver/my-pwaivers"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyPwaiver")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Participation Waivers</PageTitle>

<h1>My Participation Waivers</h1>

<p>This page is under development.</p>
