@page "/pwaiver/start-new-pwaiver"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "PwaiverCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Participation Waiver</PageTitle>

<h1>Start New Participation Waiver</h1>

<p>This page is under development.</p>
