@page "/bcmr/start-new-bcmr"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "BcmrCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New BCMR</PageTitle>

<h1>Start New BCMR</h1>

<p>This page is under development.</p>
