@page "/other-cases/meb/case-dialogue/{caseId:int}"
@attribute [Authorize(Roles = "MEBView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MEB Case Dialogue</PageTitle>

<h1>MEB Case Dialogue</h1>

<p>This page is under development.</p>
