@page "/other-cases/meb/mb-med-off/{caseId:int}"
@attribute [Authorize(Roles = "MEBView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MB Med Off</PageTitle>

<h1>MB Med Off</h1>

<p>This page is under development.</p>
