@page "/other-cases/meb/mb-next-action/{caseId:int}"
@attribute [Authorize(Roles = "MEBView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MB Next Action</PageTitle>

<h1>MB Next Action</h1>

<p>This page is under development.</p>
