@page "/other-cases/meb/mb-tracking/{caseId:int}"
@attribute [Authorize(Roles = "MEBView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MB Tracking</PageTitle>

<h1>MB Tracking</h1>

<p>This page is under development.</p>
