@page "/agr/my-agrs"
@attribute [Authorize(Roles = "MyAGRCert")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My AGR Certifications</PageTitle>

<h1>My AGR Certifications</h1>

<p>This page is under development.</p>
