@page "/administration/emails/email-templates"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Email Templates</PageTitle>

<h1>Email Templates</h1>

<p>This page is under development.</p>
