@page "/administration/emails/email-test"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Email Test</PageTitle>

<h1>Email Test</h1>

<p>This page is under development.</p>
