@page "/administration/emails/inactive-email-settings"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Inactive Email Settings</PageTitle>

<h1>Inactive Email Settings</h1>

<p>This page is under development.</p>
