@page "/administration/emails/send-system-emails"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Send System Emails</PageTitle>

<h1>Send System Emails</h1>

<p>This page is under development.</p>
