@page "/other-cases/specialty-cases/mmso/case-dialogue/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MMSO Case Dialogue</PageTitle>

<h1>MMSO Case Dialogue</h1>

<p>This page is under development.</p>
