@page "/other-cases/specialty-cases/mmso/init/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MMSO Initialization</PageTitle>

<h1>MMSO Initialization</h1>

<p>This page is under development.</p>
