@page "/other-cases/specialty-cases/mmso/mm-documents/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MM Documents</PageTitle>

<h1>MM Documents</h1>

<p>This page is under development.</p>
