@page "/other-cases/specialty-cases/mmso/mm-lod-documents/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MM LOD Documents</PageTitle>

<h1>MM LOD Documents</h1>

<p>This page is under development.</p>
