@page "/other-cases/specialty-cases/mmso/mm-next-action/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>MM Next Action</PageTitle>

<h1>MM Next Action</h1>

<p>This page is under development.</p>
