@page "/other-cases/specialty-cases/mmso/pre-authorization-request/{caseId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Pre-Authorization Request</PageTitle>

<h1>Pre-Authorization Request</h1>

<p>This page is under development.</p>
