@page "/common/clear-previous-signature"
@attribute [Authorize(Roles = "Signature")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Clear Previous Signature</PageTitle>

<h1>Clear Previous Signature</h1>

<p>This page is under development.</p>
