@page "/common/digital-signature-accepted"
@attribute [Authorize(Roles = "Signature")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Digital Signature Accepted</PageTitle>

<h1>Digital Signature Accepted</h1>

<p>This page is under development.</p>
