@page "/irilo/start-new-irilo"
@attribute [Authorize(Roles = "FTCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New IRILO</PageTitle>

<h1>Start New IRILO</h1>

<p>This page is under development.</p>
