@page "/other-cases/wwd/print/{caseId:int}"
@attribute [Authorize(Roles = "WWDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>WWD Print</PageTitle>

<h1>WWD Print</h1>

<p>This page is under development.</p>
