@page "/other-cases/wwd/wd-documents/{caseId:int}"
@attribute [Authorize(Roles = "WWDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>WD Documents</PageTitle>

<h1>WD Documents</h1>

<p>This page is under development.</p>
