@page "/other-cases/wwd/wd-med-tech/{caseId:int}"
@attribute [Authorize(Roles = "WWDView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>WD Med Tech</PageTitle>

<h1>WD Med Tech</h1>

<p>This page is under development.</p>
