@page "/ne/my-nes"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "MyNE")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>My Non-Emergent Surgery Requests</PageTitle>

<h1>My Non-Emergent Surgery Requests</h1>

<p>This page is under development.</p>
