@page "/ne/start-new-ne"
@layout OtherCasesLayout
@attribute [Authorize(Roles = "NECreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Non-Emergent Surgery Request</PageTitle>

<h1>Start New Non-Emergent Surgery Request</h1>

<p>This page is under development.</p>
