@page "/administration/manage/manage-ph-workflow-form/edit-ph-workflow-form"
@attribute [Authorize(Roles = "SysAdmin")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Edit PH Workflow Form</PageTitle>

<h1>Edit PH Workflow Form</h1>

<p>This page is under development.</p>
