@page "/appeal/ap-senior-med/{caseId:int}"
@attribute [Authorize(Roles = "APView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Appeal Senior Med</PageTitle>

<h1>Appeal Senior Med</h1>

<p>This page is under development.</p>
