@page "/appeal/ap-tracking/{caseId:int}"
@attribute [Authorize(Roles = "APView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Appeal Tracking</PageTitle>

<h1>Appeal Tracking</h1>

<p>This page is under development.</p>
