@page "/rw/start-new-rw"
@attribute [Authorize(Roles = "RWCreate")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Start New Retention Waiver</PageTitle>

<h1>Start New Retention Waiver</h1>

<p>This page is under development.</p>
