@page "/other-cases/agr-cert/agr-case-comments/{caseId:int}"
@attribute [Authorize(Roles = "AGRCertView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AGR Case Comments</PageTitle>

<h1>AGR Case Comments</h1>

<p>This page is under development.</p>
