@page "/other-cases/agr-cert/agr-member/{caseId:int}"
@attribute [Authorize(Roles = "AGRCertView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AGR Member</PageTitle>

<h1>AGR Member</h1>

<p>This page is under development.</p>
