@page "/other-cases/agr-cert/agr-next-action/{caseId:int}"
@attribute [Authorize(Roles = "AGRCertView")]
@using Microsoft.AspNetCore.Authorization

<PageTitle>AGR Next Action</PageTitle>

<h1>AGR Next Action</h1>

<p>This page is under development.</p>
